name: Type Check

permissions: write-all

on:
    push:
        branches: ["main"]
    pull_request:
        types: [opened, synchronize]
    merge_group:

jobs:
    ci:
        name: Check - (${{ matrix.cmds }})
        timeout-minutes: 15
        runs-on: ubuntu-latest
        strategy:
            matrix:
                cmds: ["bun typecheck"]
        steps:
          - uses: oven-sh/setup-bun@v2

          - name: Check out code
            uses: actions/checkout@v6
            with:
                submodules: true

          - name: Cache dependencies
            uses: actions/cache@v5
            with:
                path: |
                    ~/.bun/install/cache
                    node_modules
                key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
                restore-keys: |
                    ${{ runner.os }}-bun-

          - name: Install dependencies
            run: bun install
            shell: bash
            env:
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"

          - name: Set up DATABASE_URL
            run: echo "DATABASE_URL=postgresql://user:dummy@localhost:5432/dummy_db" >> $GITHUB_ENV
          
          - name: Generate Prisma
            run: bun db:generate
            shell: bash
            env:
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"

          - name: Run Check
            run: ${{ matrix.cmds }}
            env:
                CI: 1
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"
