name: Type Check

permissions: write-all

on:
    push:
        branches: ["main"]
    pull_request:
        types: [opened, synchronize]
    merge_group:

jobs:
    ci:
        name: Check - (${{ matrix.cmds }})
        timeout-minutes: 15
        runs-on: ubuntu-latest
        strategy:
            matrix:
                cmds: ["deno task typecheck"]
        steps:
          - uses: denoland/setup-deno@v2
            with:
                cache: true
                deno-version: 2.6.8

          - name: Check out code
            uses: actions/checkout@v6
            with:
                submodules: true

          - name: Set automatic node modules directory
            run: deno task workflow:denojsonfix
            shell: bash

          - name: Approve Build Scripts
            run: deno approve-scripts npm:prisma npm:@prisma/engines

          - name: Install dependencies
            run: deno install
            shell: bash
            env:
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"

          - name: Set up DATABASE_URL
            run: echo "DATABASE_URL=postgresql://user:dummy@localhost:5432/dummy_db" >> $GITHUB_ENV
          
          - name: Generate Prisma
            run: deno task -r db:generate
            shell: bash
            env:
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"

          - name: Run Check
            run: ${{ matrix.cmds }}
            env:
                CI: 1
                PRISMA_CLI_BINARY_TARGETS: "debian-openssl-3.0.x"
